.templateSelectorContainer{
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    min-width: 100%;
    min-height: 100vh;
}
.templateSelectorContainer h1{
    max-width: 55vw;
    font-size: 4rem;
    text-align: center;
}
.templateLinkWrapper{
    max-width: 80vw;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(155, 155, 155);
}
.templateLinkContainer{
    text-align: center;
    list-style-type: none;
}
.templateLinkContainer li{
    display: inline-block;
    padding: 10px;
    color: rgb(165, 165, 165);
    max-width: 25rem;
}
.templateLinkContainer li> a{
    font-size: 1.5rem;
    margin: 2rem;
    cursor: pointer;
}
.templateLinkContainer li:hover{
    color: black;
}
.templateLinkContainer .active{
    color: black;
}
.templatePreviewWrapper{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.templatePreview{
    font-size:2.25rem;
    color: gray;
    position: relative;
    text-align: center;
    max-width: 30vw;
    margin: 1rem;
    padding: 25px 25px 25px 25px;
    background-color: rgba(152, 251, 152, 0.286);
}
.templatePreview img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 250ms;
}
.templatePreview:hover{
    color: black;
    background-color: rgba(152, 251, 152, 0.88);

}
.templatePreview:hover img{
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.652);
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    --b: 8px;
    margin: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: gray;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l5 1s infinite;
  }
  @keyframes l5 {to{transform: rotate(.5turn)}}
  
/* .cursor{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    background-color: lightseagreen;
    width: 6rem;
    text-align: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: white;
    z-index: 1000;
    translate: -100% -350%;
    transition: all 150ms;
} */
@media screen and (width < 1024px) and (width >= 769px){
    .templateSelectorContainer h1{
        max-width: 90vw;
        /* background-color: red; */
    }
    .templateLinkContainer li > a{
        padding: 0px;
        margin: 0px;
    }
    .templatePreview{
        max-width: 40vw;
    }
    .templatePreviewWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (width < 769px) and (width >= 481px){
    .templateSelectorContainer h1{
        font-size: 6.5vw;
        max-width: 85vw;
    }
    .templateLinkWrapper{
        width: fit-content;
        overflow-x: auto;  
        touch-action: pan-x;
    }
    .templateLinkContainer{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: nowrap;
    }
    .templateLinkContainer li>a{
        width: fit-content;
        white-space: nowrap;
        font-size: 1.25rem;
        padding: none;
        margin:none;
    }
    .templatePreviewWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .templatePreview{
        max-width: 90vw;
        font-size: 2rem;    
    }
}
@media screen and (width<481px) {
    .templateSelectorContainer h1{
        font-size: 6.5vw;
        max-width: 90vw;
    }
    .templateLinkWrapper{
        width: fit-content;
        overflow-x: auto;  
        touch-action: pan-x;
    }
    .templateLinkContainer{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: nowrap;
    }
    .templateLinkContainer li>a{
        width: fit-content;
        white-space: nowrap;
        font-size: 1.25rem;
        padding: none;
        margin:none;
    }
    .templatePreviewWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .templatePreview{
        max-width: 85vw;
        font-size: 2rem;    
    }
}