form{
    width: 100%;
    display: flex;
    position: relative;
}
.pageSelector{
    display: inline;
    position: fixed;
    left: 5%;
    bottom: 10px;
    transform:translateX(50%);
    transition: all 500ms;
    z-index: 999;
}