form{
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 2rem;
    /* border: solid; */
}
.pageSelector{
    display: inline;
    position: fixed;
    left: 5%;
    bottom: 10px;
    transform:translateX(50%);
    transition: all 500ms;
    z-index: 999;
}