main{
    display: flex;
    flex-direction: row;
    /* margin: 0px 1rem; */
    max-height: 85vh;
    overflow-y: auto;
}
main form{
    width: 65%;
    height: 100%;
    margin: 0;
}
::-webkit-scrollbar{
   width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.347);
}
::-webkit-scrollbar-thumb{
    width: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.274);
}