@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
:root{
    --FONT-SIZE: 7rem;
    --FONT-WEIGHT: 900;
}
.pageSelectorSection{
    font-family: 'poppins';
    font-size: var(--FONT-SIZE);
    font-weight: var(--FONT-WEIGHT);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: var(--FONT-SIZE);
    width: 20rem;
    text-align: left;
    position: fixed;
    left: 5%;
    /* border: solid; */
}

.pageSelectorSection::after{
    content: 'of';
    font-weight: 400;
    color: gray;
    display: inline-block;
    margin: 1.55rem;
    position: absolute;
    left: 50%;
    padding: 5px;
    translate: -70% 0px;
}
.pageSelectorSection div{
    padding: 0px 0.75rem;
}
.currentPage{
    /* display: inline-block; */
    translate: 0px calc(8.24*7rem);
    transition: all 500ms;
    margin-right: 75px;
    text-align: center;
}
.currentPage div{
    transition: all 500ms;
}
.currentPage span, .pageSelectorTotalPages{
    /* border: solid; */
    /* font-style: italic; */
    font-weight: var(--FONT-WEIGHT);
    font-size: var(--FONT-SIZE);
}
.pageSelectorTotalPages{
    /* border: solid; */
    text-align: left;
}
.currentPage span{
    max-height: var(--FONT-SIZE);
}
@media screen and (width < 580px) {
    .pageSelectorSection{
        font-size: 2rem;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        width: 8.5rem;
        display: none;
    }
    .currentPage span, .pageSelectorTotalPages{
        font-size: 3rem;
    }
    .currentPage{
        translate: 0px calc(8.35*3rem);
        transition: all 500ms;
    }
}