.number{
    position: absolute;
    right: 0;
    font-size: 5rem;
    background-color: turquoise;
    height: 102%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addMoreButton{
    font-size: 1.25rem;
    cursor: pointer;
}
.addMoreButton:hover{
    text-decoration: underline;
}
.editContainer{
  position: absolute;
  right:5rem;
  bottom: 0;
}
.editContainer div{
    display: inline-block;
    padding: 5px;
}
.editContainer img{
    border: 1px solid rgba(128, 128, 128, 0.177);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.editContainer img:hover{
    border: 1px solid transparent;
    background: rgba(195, 195, 195, 0.519);
}
.editContainer img:active, .editContainer img:focus{
    background: rgba(195, 195, 195, 0.765);
    
}