*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    scrollbar-gutter: stable;
}
@media print {
    .printable{
        width: 2481px;
        aspect-ratio: 1/1.414;
        scale: 2;
        transform-origin: left top;
    }
}
hr{
    margin-bottom: 6px;
}
.formSectionContainer .heading{
    font-size: 3rem;
    /* position: fixed; 
    left: 0px;
    top: 6rem;
    background: linear-gradient(to right, bisque 65%, transparent 95%); */
}
.formSectionContainer{
    font-family: 'Poppins';
    padding: 4rem;
    /* border-radius: 25px; */
}
.formSectionContainer input, .formSectionContainer select{
    font-size: 1.5rem;
    padding: 8px;
    margin: 8px 0px 15px 0px;
    border-radius: 6px;
    border: 1px solid gray;
    width: 90%;

}
.formSectionContainer option{
    font-size: 1.25rem;
    padding: 5px;
}
.formSectionContainer input[type='checkbox']{
    scale: 1.75;
    vertical-align: middle;
}
.formSectionContainer label{
    /* margin-left: 15px; */
    font-size: 1.05rem;
    color: gray;
    text-wrap: nowrap;
}
.formSectionContainer button{
    font-size: 1.5rem;
    padding: 10px 45px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    margin: 16px;
}
.nextContainer{
    /* border: solid; */
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.451);
    backdrop-filter: blur(5px);
}